
html, body {
  margin: 0;
  padding: 0;
  background:#ffffff;
  font-family: PingFang,miui, PingHei,San Francisco, MILanTing, '小米兰亭', '微软雅黑', DeliciousRoman, sans-serif;
  width:100%;
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  opacity: 0;
  width: 0;
  height: 0;
}

